*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

@property --gradient-deg {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

body{
    background: linear-gradient(var(--gradient-deg) ,rgba(91, 21, 6, 1) 0%, rgba(153, 7, 7, 1) 50%);
    color: rgb(219, 169, 62);
    display: flex;
    flex:content;
    align-items: center;
    animation: rotate 3s normal infinite forwards ease-in;
}

@keyframes rotate {
    from {
        --gradient-deg: 0deg;
    } to {
        --gradient-deg: 360deg;
    }
}

.logo-empresa {
    background-image: url(../images/img_fundo.png);
    width: 50%;
    height: 100dvh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-right: 2px solid #ffc700;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
    text-align: center;
}

#icone_usuario{
    width: 200px;
    height: 200px;
    border-radius: 150px;
}
#subtitulo_login ul li{
    text-decoration: none;
}
.parte_formulario { 
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100dvh;
    flex-wrap: nowrap;
    gap: 100px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: larger;
}

#email, #senha{
    background-color: aliceblue;
    max-width: 600px;
    height: 50px;
    border-radius: 10px;
    border: 3px solid #ffc700;
    padding: 25px;
    display: flex;
    margin: 10px 0 30px 0;
    font-size: 20px;
    width: 100%;
    transition: 0.3s ease-in-out;
}

#email:focus, #senha:focus{
    outline: none;
}

input::placeholder{
    color:#000000;
    opacity: 0.4;
}

.rodape ul {
    list-style: none;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.rodape ul a {
    color: #ffc700;
    text-decoration: none;
    background: linear-gradient(90deg,rgba(91, 21, 6, 1) 0%, rgba(153, 7, 7, 1) 50%);
    padding: 8px;
}

.botoes a, .botoes button{
    display: inline-block;
    color: #000000;
    text-decoration: none;
    background-color:#ffc700;
    padding: 8px;
    border-radius:9px;
    border: none;
    min-height: 40px;
    min-width: 150px;
    text-align: center;
    align-content: center;
    font-size: 20px;
    font-weight: 600;
    transition: 0.3s ease-in-out
}
.botoes {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

label{
    font-size: 30px;
}

.formulario{
    padding: 0 20px;
}

.botoes a:hover, .botoes button:hover{
    transform: scale(1.15);
}
#email:focus, #senha:focus{
    transform: scale(1.05)
}
summary{
    opacity: 0;
}
a{
    text-decoration: none;
}
#subtitulo_login{
    color:#ffc700;
}
.link{
    display: flex;
    justify-content: space-around;
    gap: 30px;        
}

@media(max-width: 768px) {
    .link{
        flex-direction: row;
        gap: 10px;
    }
    html{
        scroll-behavior: smooth;
    }
    
    body{
        flex-direction: column;
    }

    .logo-empresa,.parte_formulario{
        width:100%;
    }

    .logo-empresa{
        border-right: none;
        border-bottom:2px solid #ffc700;
    }
    #subtitulo_login{
        background: linear-gradient(90deg,rgba(91, 21, 6, 1) 0%, rgba(153, 7, 7, 1) 50%);
        padding: 10px;
        border-radius: 16px;
    }
    .subtitulo {
        gap: 30px;
        display: flex;
        flex-direction: column;
    }
    
    .rodape ul{
        flex-direction: column;
    }

}