*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    background: linear-gradient(180deg,rgba(91, 21, 6, 1) 0%, rgba(153, 7, 7, 1) 50%);
    color: rgb(219, 169, 62);
    display: flex;
    flex:content;
    align-items: center;
    animation: rotate 1s normal infinite forwards ease-in;
}

.logo-empresa {
    background-image: url(../images/img_fundo.png);
    width: 50%;
    height: 100dvh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-right: 2px solid #ffc700;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
    text-align: center;
}

#icone_usuario{
    width: 200px;
    height: 200px;
    border-radius: 150px;
}

.parte_formulario { 
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100dvh;
    flex-wrap: nowrap;
    gap: 100px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: larger;
}

#email, #senha{
    background-color:aliceblue;
    width: 600px;
    height: 50px;
    border-radius: 10px;
    border-color:#ffc700;
    padding: 25px;
    display:flex;
    margin-bottom: 30px;
    font-size: 20px;
}
input::placeholder{
    color:#000000;
    opacity: 0.4
}
.rodape ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.rodape ul a {
    color: #ffc700;
    text-decoration: none;
    background: linear-gradient(90deg,rgba(91, 21, 6, 1) 0%, rgba(153, 7, 7, 1) 50%);
    padding: 8px;
}

.botoes a, .botoes button{
    display: inline-block;
    color: #000000;
    text-decoration: none;
    background-color:#ffc700;
    padding: 8px;
    border-radius:9px;
    border: none;
    min-height: 40px;
    min-width: 150px;
    text-align: center;
    align-content: center;
    font-size: 20px;
    font-weight: 600;
}
.botoes {
    display: flex;
    justify-content: space-evenly;
}

label{
    font-size: 30px;
    
}
